[workspace]
members = [
    "psbt",
    "cli",
    "."
]
default-members = [
    "psbt",
    "."
]

[workspace.package]
version = "0.11.0-beta.8"
keywords = ["bitcoin", "lightning", "rgb", "smart-contracts", "lnp-bp"]
categories = ["cryptography::cryptocurrencies"]
authors = ["Dr Maxim Orlovsky <orlovsky@lnp-bp.org>"]
homepage = "https://rgb.tech"
repository = "https://github.com/RGB-WG/rgb"
rust-version = "1.76.0"
edition = "2021"
license = "Apache-2.0"

[workspace.dependencies]
amplify = "4.7.0"
nonasync = { version = "0.1.0", features = ["log"] }
baid64 = "0.2.2"
strict_encoding = "2.7.0"
strict_types = "2.7.0"
commit_verify = "0.11.0-beta.8"
bp-core = "0.11.0-beta.8"
bp-seals = "0.11.0-beta.8"
bp-std = "0.11.0-beta.8"
bp-electrum = "0.11.0-beta.8"
bp-esplora = { version = "0.11.0-beta.8", default-features = false, features = ["blocking"] }
descriptors = "0.11.0-beta.8"
psbt = { version = "0.11.0-beta.8", features = ["client-side-validation"] }
bp-wallet = { version = "0.11.0-beta.8" }
rgb-std = { version = "0.11.0-beta.8" }
rgb-psbt = { version = "0.11.0-beta.8", path = "psbt" }
rgb-interfaces = "0.11.0-beta.8"
indexmap = "2.4.0"
chrono = "0.4.38"
serde_crate = { package = "serde", version = "1", features = ["derive"] }
serde_yaml = "0.9.19"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }

[package]
name = "rgb-runtime"
version.workspace = true
description = "RGB smart contracts wallet runtime"
keywords.workspace = true
categories.workspace = true
readme = "README.md"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
name = "rgb"
crate-type = ["cdylib", "rlib"]

[dependencies]
amplify = { workspace = true }
nonasync = { workspace = true }
baid64 = { workspace = true }
bp-electrum = { workspace = true, optional = true }
commit_verify = { workspace = true }
strict_types = { workspace = true }
bp-core = { workspace = true }
bp-std = { workspace = true }
bp-esplora = { workspace = true, optional = true }
descriptors = { workspace = true }
bp-wallet = { workspace = true }
rgb-std = { workspace = true }
rgb-psbt = { workspace = true }
indexmap = { workspace = true }
chrono = { workspace = true }
serde_crate = { workspace = true, optional = true }
serde_yaml = { workspace = true, optional = true }
log = { workspace = true, optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2"
rand = { version = "0.8.4", optional = true }
getrandom = { version = "0.2", features = ["js"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[features]
default = ["esplora_blocking", "mempool_blocking"]
all = ["esplora_blocking", "electrum_blocking", "mempool_blocking", "serde", "log", "fs", "cli"]
fs = ["serde", "bp-wallet/fs", "rgb-std/fs"]
cli = ["fs", "bp-wallet/cli"]
esplora_blocking = ["bp-esplora"]
electrum_blocking = ["bp-electrum"]
mempool_blocking = ["esplora_blocking"]
serde = ["serde_crate", "serde_yaml", "bp-std/serde", "descriptors/serde", "rgb-psbt/serde"]

[package.metadata.docs.rs]
features = ["all"]
