[workspace]
members = [
    "psbt",
    "cli",
    "."
]
default-members = [
    "psbt",
    "."
]

[workspace.package]
version = "0.11.0-beta.6"
keywords = ["bitcoin", "lightning", "rgb", "smart-contracts", "lnp-bp"]
categories = ["cryptography::cryptocurrencies"]
authors = ["Dr Maxim Orlovsky <orlovsky@lnp-bp.org>"]
homepage = "https://lnp-bp.org"
repository = "https://github.com/RGB-WG/rgb"
rust-version = "1.75.0"
edition = "2021"
license = "Apache-2.0"

[workspace.dependencies]
amplify = "4.6.0"
baid64 = "0.2.2"
strict_encoding = "2.7.0-beta.4"
strict_types = "2.7.0-beta.4"
commit_verify = "0.11.0-beta.6"
bp-core = "0.11.0-beta.6"
bp-seals = "0.11.0-beta.6"
bp-std = "0.11.0-beta.6"
bp-electrum = "0.11.0-beta.6"
bp-esplora = { version = "0.11.0-beta.6", default-features = false, features = ["blocking"] }
descriptors = "0.11.0-beta.6"
psbt = { version = "0.11.0-beta.6", features = ["client-side-validation"] }
bp-wallet = { version = "0.11.0-beta.6.1" }
rgb-std = { version = "0.11.0-beta.6" }
rgb-psbt = { version = "0.11.0-beta.6", path = "psbt" }
rgb-interfaces = "0.11.0-beta.6"
indexmap = "2.0.2"
chrono = "0.4.31"
serde_crate = { package = "serde", version = "1", features = ["derive"] }
serde_yaml = "0.9.19"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }

[package]
name = "rgb-runtime"
version.workspace = true
description = "RGB smart contracts wallet runtime"
keywords.workspace = true
categories.workspace = true
readme = "README.md"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
name = "rgb"
crate-type = ["cdylib", "rlib"]

[dependencies]
amplify = { workspace = true }
baid64 = { workspace = true }
bp-electrum = { workspace = true, optional = true }
commit_verify = { workspace = true }
strict_types = { workspace = true }
bp-core = { workspace = true }
bp-std = { workspace = true }
bp-esplora = { workspace = true, optional = true }
descriptors = { workspace = true }
bp-wallet = { workspace = true }
rgb-std = { workspace = true }
rgb-psbt = { workspace = true }
rgb-interfaces = { workspace = true }
indexmap = { workspace = true }
chrono = { workspace = true }
serde_crate = { workspace = true, optional = true }
serde_yaml = { workspace = true, optional = true }
log = { workspace = true, optional = true }

[features]
default = ["esplora_blocking", "mempool_blocking"]
all = ["esplora_blocking", "electrum_blocking", "mempool_blocking", "serde", "log", "fs", "cli"]
fs = ["serde", "bp-wallet/fs", "rgb-std/fs"]
cli = ["fs", "bp-wallet/cli"]
esplora_blocking = ["bp-esplora"]
electrum_blocking = ["bp-electrum"]
serde = ["serde_crate", "serde_yaml", "bp-std/serde", "descriptors/serde", "rgb-psbt/serde"]
mempool_blocking = ["esplora_blocking"]

[package.metadata.docs.rs]
features = ["all"]

[patch.crates-io]
bp-consensus = { git = "https://github.com/BP-WG/bp-core", branch = "master" }
bp-derive = { git = "https://github.com/BP-WG/bp-std", branch = "master" }
bp-invoice = { git = "https://github.com/BP-WG/bp-std", branch = "master" }
descriptors = { git = "https://github.com/BP-WG/bp-std", branch = "master" }
psbt = { git = "https://github.com/BP-WG/bp-std", branch = "master" }
bp-std = { git = "https://github.com/BP-WG/bp-std", branch = "master" }
bp-wallet = { git = "https://github.com/BP-WG/bp-wallet", branch = "master" }
rgb-core = { git = "https://github.com/RGB-WG/rgb-core", branch = "mining" }
rgb-invoice = { git = "https://github.com/RGB-WG/rgb-std", branch = "mining" }
rgb-std = { git = "https://github.com/RGB-WG/rgb-std", branch = "mining" }
rgb-interfaces = { git = "https://github.com/RGB-WG/rgb-interfaces.git", branch = "master" }
